img {
    border-radius: 50%;
    width: 100px;
}

body {
    text-align:center;
    background: linear-gradient(#E1BEE7 30%, #90CAF9 300%);
}

h1 {
    text-shadow: 2px 2px #F8BBD0;
    font-size: 20px;
}

p {
    font-size: 18px;
    color: #6A1B9A;
}

h2 {
    font-size: 20px;
    color: #1A237E;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}
#intro{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30%
    }

#bio {
    padding: 20px;
    font-size: 18;
    text-align: center;
}

.links {
    list-style: none;
    float: right;
    font-family:fantasy;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black
}
li{
    float:right;
    
}
li a{
    display:block;
    color:blue;
    text-align: center;
    padding:14px 16px;
}